* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b0a1a1;
}

header {
  background-color: #1b346d;
  padding: 20px;
  text-align: center;
  margin: auto;
}

h1 {
  color: white;
  font-size: 36px;
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #ffd200;
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
}

p {
  color: #1b346d;
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-info {
  width: 60%;
}

.profile-info h3 {
  color: #ff6666;
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-info p {
  margin-bottom: 10px;
}

.things {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.thing-item {
  width: 30%;
  background-color: #fadc51;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 256px;
  cursor: pointer;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.thing-item h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.thing-item p {
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.thing-item:active {
  background-image: none;
}

.animal:active {
  background-image: url('https://images.pexels.com/photos/1120049/pexels-photo-1120049.jpeg');
  background-size: cover;
  background-position: center;
}

.color:active {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Gray_scale.jpg');
  background-size: cover;
  background-position: center;
}

.memory:active {
  background-image: url('https://images.pexels.com/photos/839462/pexels-photo-839462.jpeg');
  background-size: cover;
  background-position: center;
}